
.grid-container {
  display: grid;
  grid-gap: 50px 90px;
  grid-template-columns: auto auto auto auto;
  padding: 30px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 70px;
  font-size: 40px;
  text-align: center;
}




.menu1{
    float: left;
    margin-left: 3%;
    padding-top: 1%;
    
}

body{
     /* background-image: url("student.jpg");
     background-repeat: no-repeat;
    background-size: 100% 20%; */
    
   font-family: Arial;
    background-color: #E0EEEE;
}
img{
    float: left;
   
}


#lang{
    margin-top: 40%;
    border-radius: 5px;
}
#search{
    height: 4%;
    margin-top: 3%;
}
 
#sign, #login{
    background-color: #E0EEEE;
    border: none;
    color: #5F9F9F;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}
#login{
    padding: 15px 15px;
}
#sign{
    padding: 15px 15px;
}

.menu{
     overflow: hidden;
     box-shadow: 0 10px 11px -4px rgba(0, 0, 0, 0.2);
    
}

button:hover, a:hover {
  opacity: 0.7;
}


.container{
   display: flex;
}
footer {
    background-color:#5F9F9F;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    height: 100px;
}
#logo{
    background-color: #5F9F9F;
}

