.nav-wrapper{
    background-color: white;
}
nav .brand-logo,nav ul li a{
    color: #49c5b6;
}
nav ul li a:hover{
    background-color: #49c5b6;
    color: white;
}
hr{
    margin-top:6%;
    margin-bottom: 5%;
}
h2{
    text-align: center;
}

.page-footer{
    background-color: #49c5b6;

}

