/**body{
      background-image: url("student.jpg");
     background-repeat: no-repeat;
    background-size: 100% 20%; 
    background-color: #edeff0;
    
   font-family: Arial;
    
}
img{
    float: left;
   
}

#profileimg{
     border-radius: 50%;
    height: 25%;
}

.review {

  border: none;
  outline: 0;
  display: table-footer-group;
  padding: 8px;
 /** color: mistyrose; **/
 /** background-color: forestgreen; **/
 /** text-align: left;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
    color:#00bfe7;
}



 .nav-wrapper{
    background-color: #49c5b6;
    
}


h1{
    color: #00bfe7;
    }
   

.title {
  color: deepskyblue;
  font-size: 20px;
     word-wrap: break-word;
}



.checked {
    color: orange;
}



.card {
 /* box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2);*/
 /** font-family: sans-serif;
    max-width: 9%;
padding-right: 3%;
padding-left: 3%;
   margin-top:3%;
    margin-left: 11%;
    padding-bottom: 1%;
  
   
}

.info{
    margin-top: 3%;
    margin-left: 5%;
    word-wrap: break-word;
    max-width: 25%;
    padding: 3%;
   
}
.container{
   display: flex;
}

.contact{
    position: absolute;
    margin-top: 2%;
    
    
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
#msg{
   
    
    margin-top: 4%;
   background-color: #edeff0;
    color: black;
    border: 2px solid #00bfe7;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    
}

.video{
    margin-top: 5%;
    margin-left: 9%;
   
}
#scimg{
    margin-top: 2%;
    width: 70%;
}

.posts{
    font-size: 14px;
font-weight: normal;
resize: none;
overflow-y: scroll;
    margin-left: 15%;
    
}

#post2{
    margin-top: 3%;
}**/

nav .brand-logo,nav ul li a{
    color: white;
}
nav ul li a:hover{
    background-color: white;
    color: #49c5b6;
}

.card {
     
  background-color: #f4f4f4;
  width: 300px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
    float: left;
    padding: 3%;
    
}

.nav-wrapper{
    background-color: #49c5b6;
}



.card-header img{
  width: 100%;
}


.card-footer {
  border-top: solid 1px #B6B6B6;
  padding: 5px;
}


.card-footer ul li{
  display: inline-block;
  list-style: none;
  margin: 5px;
}


.checked {
    color: orange;
}


.card h3{
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-align: center;
    color: #49c5b6;
    font-family: 'Montserrat', sans-serif;
}

.card h4{
  margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    
}
.card p{
  margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;   
    font-family: 'Montserrat', sans-serif;
    
}

.card-footer p a {
    color: black;
}


.info{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: -3%;
   
    
}
.card-footer{
    color:#49c5b6;
}

.video{
    float: left;
}




